*
{
    margin: 0;
    padding: 0;
  
    
  
}
body
{
    
    font-family:Arial, Helvetica, sans-serif;
    
    
}
.header__logo
{
    position:relative;
    z-index: 2;
    padding-right: 0;

}
.header__logo img
{
    z-index: 3;
    border: none;
   

}

.header_worldmobile
{
    background-color:#ffd500;
    
    
}
.header_worldmobile .header__top>div
{
    display: inline-flex;
    width: auto;
}
.header_worldmobile .header__top
{
    display: flex;
    margin: auto;
    width: 1200px;
}

 .header__top
{
   padding: 10px 0 0;
   background-color: #ffd400;
}

.header_worldmobile .header__top>div>.header__search
{
    width: 400px;
    border-radius: 32px;
    margin: 0 10px;
    position: relative;
    background-color: white;
}
.header__search .input_search{
    border: none;
    outline: none;
    line-height: 24px;
    margin-left: 30px;
    font-size: 12px;
    padding: 8px;
    width: 364px;
    border-radius: 32px;
}
.header__search i
{
    position: absolute;
    top: 11px;
    left: 10px;
    font-size: 17px;
    border: none;
    background-color:white;
    color: #667085;
}
.profile
{
    text-decoration: none;
    color: black;
    width: auto;
    margin-left: 10px;
    padding: 0 5px;
   
}
.box-cart
{
    text-decoration: none;
    color: black;
    width: auto;
    margin-left: 10px;
    padding: 0 5px;
}
.profile .name_order,.box-cart .cart_number
{
    line-height: 42px;
    text-decoration: none;
    color: black;
}
.header__address 
{
    
    position: relative;
    background-color: #ffe14c;
    text-decoration: none;
    color: black;
    border-radius: 32px;
    margin-left: 10px;
    width: 305px;
    padding: 12px 0 ;
}
.header__address .fa-map-marker-alt
{
    position: absolute;
    left: 0;
    font-size: 17px;
    margin-left: 10px;
}
.header__address .fa-arrow-right
{
    position: absolute;
    right: 0;
    font-size: 17px;
    margin-right: 10px;
    
}

.header__address span
{
   margin-left: 35px;
   font-size: 15px;
} 
/* .profile,.box-cart
{
   margin: 0 0 10px 5px;
   width: auto;
}
.profile .name_order,.box-cart .cart_number
{
    line-height: 42px;
    text-decoration: none;
    color: black;
    padding: 0 5px;
}

.profile i
{
    font-size: 17px;
}
 */

.main_menu 
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.main_menu li i img
{
    height: 20px;
    width: auto;
    vertical-align: middle;

}
.header__top>div>.profile:hover,.header__top>div>.box-cart:hover
{
    background-color:#fe9;
    color: black;
    border-radius: 32px;
   

}
.header__main
{   
    max-width: 1220px;
}
.header__main>div
{
    max-width: 1220px;
    width: 100%;
    margin: auto;
    padding: 0 0 10px;
}
.main_menu li
{
    padding: 10px ;
    cursor: pointer;
    position: relative;
    z-index: 10;
   
}
.main_menu li span
{
    font-size: 14px;
    
}
.main_menu>li:hover
{
    background-color: #fe9;
    color: black;
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px; 
   
}
.main_menu > li:hover > .nav-limit {
    display: flex;   
}
.main_menu>li:hover>.nav-limit-sim
{
    display: flex;
}
.main_menu>li:hover>.nav-limit-old
{
    display: block;
}





.nav-limit-sim .item-sim-sim a:hover,.nav-limit .item-sim a:hover,.nav-limit-old,.item-sim-old a:hover {
    background-color: rgb(233, 230, 230);
    color: black;
    border-radius: 10 px;
}

.nav-limit,.nav-limit-sim,.nav-limit-old
{
    padding: 15px 10px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    margin-top: 10px;
    right: 0;
    display: none;  
    border: 1px solid beige;
}

.nav-limit span,.nav-limit-sim span,.nav-limit-old span
{
   font-weight: bold;
}

.nav-limit .item-sim 
{
    gap: 10px;
    padding: 5px 5px;
    
}
.nav-limit-sim .item-sim-sim
{
    display: flex;
    gap: 10px;
    padding: 5px 5px;
}
.nav-limit-old .item-sim-old 
{
    display: flex;
    gap: 10px;
    padding: 5px 5px;
}

.test,.test2
{
    display: flex;
}
.nav-limit .item-sim a,.nav-limit-sim .item-sim-sim a,.nav-limit-old .item-sim-old a
{
    display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 8px;
}
.nav-limit .item-sim strong
{
    display: block;
}
.nav-limit .item-sim a img,.nav-limit-sim .item-sim-sim a img,.nav-limit-old .item-sim-old a img
{
    max-width: 48px;
    margin: 0 auto 5px auto;
}
.nav-limit .item-sim a span,.nav-limit-sim .item-sim-sim a span,.nav-limit-old .item-sim-old a span
{
    font-size: 10px;
    display: block;
}
.body_home
{
    padding: 20px 0;
    background-color: rgb(240, 240, 240);
 

}
.main_container
{
    margin:0 auto ;
    width: 1200px;
   
}
.home_product
{   
    display: flex;
    margin-top: 30px;
    position: relative;
}

.home_product>img
{
   height: 40px;
   width: 40px;
   background-size: 100%;
   
}
.home_product>span
{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color:#1d2939;
    padding-left: 15px;
}
.hot_product img
{ 
    
    height: 69px;
    width: 229px;
    background-color: red;
}
.product_tab
{
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 1200px;
    height: 60px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
    
    
}
.product_tab img
{
    max-height: 50px;
    min-width: 90%;
    padding-left:10px;
    padding-top: 5px;
       
}
.product_tab a
{
    text-decoration: none;
    color: black;
}
  
.product_tab li 
{
    height: 58px;
    width: 141px;
    line-height: 58px;
    display: flex;
    justify-content: center;
}
.distance
{
    max-width: 1200px;
    height: 1px;
}
.space
{
    max-width: 1200px;
    background-color: white;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 20px;
    
}

.space>div
{
    max-width: 1200px;
    height: 1px;
    background-color:rgb(226, 208, 208);
    padding-top: 0.5px
}
.daily
{
    margin-top: 20px;
    background-color: white;
    border-radius: 16px;
}
.block-product
{
    display: flex;
}
.block-product img
{
    height: 40px;
    width: 40px;

}
.block-product h3
{
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
}
.list-product
{
    padding: 0 20px 15px 20px;
} 
.list-product-item
{
    display: flex;
    list-style-type: none;  
    grid-template-columns:repeat(6,minmax(0,1fr));
    gap: 10px;
}

.list-product img
{

    max-height: 95%;
}
.item-lable
{
    height: 23px;
   
}
.item
{
    border: 0.1px solid rgb(219, 215, 215);
    border-radius: 10px;
    padding: 10px 8px 10px 10px;
}
.item-img
{
    height: 163px;
    width: 163px;
    margin: 0 auto;
    position: relative;

    
}

.item p
{
    background:linear-gradient(to right,#af63cf,#3327a7);
    border-radius: 20px;
    display: inline-flex;
    max-width: 100%;
    padding-right: 8px;
}
.item span
{
    font-size: 10px;
    line-height: 20px;
    color: white;
    margin-left: 1px;
    padding-left: 3px;
}
.item .text 
{
    color: #1d2939;
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
}
.item-compare
{
    margin-top: 5px;
}
.item-compare span
{
    color: #333;
    line-height: 12px;
    background-color: #eaebec;
    padding: 2px 3px;
}
.price{
    margin-top: 10px;
}
.rating
{
    margin-top: 10px;
}
.rating i
{
    color: rgb(255, 212, 0);
    height: 14px;
    width: 14px;
}
.rating b
{
    font-size: 12px;
    color: #667085;
    font-weight: normal;
    margin-left: 2px;
}
html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
    font-family:Arial, Helvetica, sans-serif;
    
}
.slider
{
    width: 100%;    
max-width: 100%;
margin: 15px 0px
    
}
.slider_bar
{

    width: 340px;
    height: 40px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #FEA200;
    border-radius: 45px;
    border: 5px solid rgb(242, 234, 234);

}
.slider_bar span
{
    color:  white;
    line-height: 40px;
    font-size: 20px;
  
    
}
.slider_bar span label
{
    background-color:white;
    color: #ffd400;;
    font-size: 20px;
    padding: 2px 2px;
    border-radius: 10px;
}
.banner>div,.voucher>div,.more>div,.people-search>div
{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.banner>div>img,.voucher>div>img,.more>div>img,.people-search>div>img
{
    
   height: 40px;
   width: 40px;
   
}
.banner>div>span,.voucher>div>span,.more>div>span,.people-search>div>span
{
    font-weight: bold;
    font-size: 24px;
}
.banner .img-banner
{
    width: 100%;
    border-radius: 8px;
}
.banner-voucher 
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.banner-voucher div
{
    width: 25%;
    padding: 12px 0;
}
.banner-voucher div img
{
    width: 100%;
    border-radius: 10px;
}

.more
{
    background-color: white;
    border-radius: 18px;
    padding: 20px;
}


.more .box-btn .btn-item-new
{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    margin-right: 5px;
}
.more .box-btn .btn-item-ask
{
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 10px 10px;
}
.more-banner
{
    display: flex;
    justify-content: space-between;
}
.more-banner div
{
  
    padding: 10px 5px;
}
.more-banner>div>p
{
    font-size: 12px;
    padding: 12px 0;
}
.more-banner>div>img
{
    width: 280px;
    height: 162px;
    border-radius: 8px;
}
.readmore
{
    margin: auto;
    display: flex;
    justify-content: center;
}
.readmore .text-readmore h3
{
    color: #2a83e9;
    font-size: 15px;
} 
.footer_worldmobile
{
margin:0 auto;
width: 1200px;

}
.people-search
{
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    margin-top: 20px;
}
.people-section ul
{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.people-search ul li
{
    padding: 2px 8px;
    border-radius: 16px;
    margin: 3px 5px;
    background-color: #f2f4f7;
    
    
}
.people-search ul li a
{
    text-decoration: none;
    color: black;
}
.footer-section
{
    max-width: 1220px;
    display: flex;
    margin-top: 10px;

}
.support p,.about p,.more-infor p
{
   padding: 10px 0;
   
}

.footer-section .support span
{
    padding-right: 10px;
    font-size: 15px;
    
}
.footer-section .support p a  
{
    color: #2f80ed;
    text-decoration: none;
}
.support,.about,.more-infor,.website
{
    padding:  10px 10px;
}

.website .logo-website ul
{
list-style-type: none;
display: flex;
flex-wrap: wrap;
margin: 10px 10px;
}
.website .logo-website ul li img
{
    height: 24px;
    width: 80px;
    padding-right: 10px;
}
.logo-contact div ul
{
    list-style-type: none;
    display: flex;
}
.logo-contact ul li i
{
    color: rgb(168, 168, 246);
}
.logo-contact div ul li
{
    padding: 10px 0;
    margin: 10px 10px;
}
.logo-contact div ul li span
{
    font-size: 12px;
}
@media (max-width: 1220px) {

     .main_container img[src="assets/images/label-left.png"],
    .main_container img[src="assets/images/label-right.png"] {
        display: none; 
} 
    .header__left img[src="assets/images/header-left.png"],
    .header__right img[src="assets/images/header-right.png"]
    {
      display: none;
    }
   
}
/* @media (max-width: 1650px){
    .header__left,.header__right
    {
        position: absolute

        
    }

    .header__left img[src="assets/images/header-left.png"],
    .header__right img[src="assets/images/header-right.png"]
    {
        position: absolute;
        width: 150px;
    }
    
} */
/* @media only screen and(  max-width:1960px)
{
    .header__left img[src="assets/images/header-left.png"]
    {
        height: 96px;
        width: calc((100w-1250px))/2;
    }
} */





